body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color:rgb(241, 221, 221);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    border-radius: 10px;
}

h1, h2 {
    color: #000;
}

span {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

.product-item,
.total {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.total {
    font-size: 18px;
    font-weight: bold;
}

.submit-btn {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #218838;
}

.terms a {
    color: #007bff;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.success-message {
    display: none;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}